.forma{
    margin:10px 50px 10px 50px;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    
}

.forma label{
    padding: 10px;
    margin-bottom: 10px;
}

.forma button{
    background-color: rgb(34, 161, 34);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    margin-top: 20px;
}

button:hover{
    background-color: rgb(0, 85, 0);
    color: white;
}

.filmas button{
    width: 80px;
    height: 20px;
    background-color: rgb(34, 161, 34);
    border: none;
    border-radius: 5px;
}

.filmasCard {
    width: auto;
    height: auto;
    display: flex;
    background-color: rgb(228, 228, 228);
    margin: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;

    
}

.filmasCard img{
    height: 300px;
    width: 200px;
}


.text{
    padding-left: 20px;
}